<template name="SideNav">
   <nav class="side-nav">
       <ul>
           <li><a href="/" id="bluetooth"><i class="fa fa-bluetooth"></i>Bluetooth</a></li>
           <li><a href="/wifi" ><i class="fa fa-wifi"></i>Wifi</a></li>
           <li><a href="/lte"><i class="fa fa-check"></i> LTE connection</a></li>
           <li><a href="/gps"><i class="fa fa-map-marker"></i>GPS</a></li>
           <li><a href="/vpn"><i class="fa fa-link"></i>VPN</a></li>
           <li><a href="/antivirus"><i class="fa fa-shield"></i>
            Antirus</a></li>
            <li><a href="/lhe"><i class="fa fa-key"></i>

                Local Encryption</a></li>
            <li><a href="/mdm"><i class="fa fa-shield"></i>
                mdm</a></li>

                <li><a href="/nfc">

                    NFC</a></li>




           

       </ul>
   </nav> 
</template>